$button-pattern-width: 120px;
$button-pattern-height: 31px;
$item-svg: url(../images/iphone-black.svg);

html{
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}


.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    button{
        border-radius: 5px 5px 5px 5px;
        width: $button-pattern-width + 140px;
        height: $button-pattern-height;
        color: white;
        flex: 0 1 auto;
        &:focus {
            outline: none;
        }
    }
    button:first-child{
        background-color: #4caf50;
        border: none;
        &:hover {
            background-color: #2193f3;
            box-shadow: 1px 1px #2193f3;
            border-style: solid;
            border-color: #2193f3;
            color: white;
        }
    }
    button:last-child{
        margin-left: 10px;
        background-color: rgb(255, 0, 80);
        border: none;
        &:hover {
            background-color: #2193f3;
            box-shadow: 1px 1px #2193f3;
            border-style: solid;
            border-color: #2193f3;
            color: white;
        }
    }
}


.listItems{
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}

.imgDiv{
    display: flex;
    background-image: $item-svg;
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 412px;
    align-items: center;
    background-position: -40px 30px;
    div{
        padding-left: 50px;
        display: flex;
        flex-flow: column wrap;
        height: 200px;
        align-items: center;
        text-align: center;
        justify-content: center;
        button{
            background-color: #002984;
            color: white;
            text-align: center;
            border-radius: 8px;
            width: $button-pattern-width + 20px;
            height:  $button-pattern-height;
            border: none;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color:  #2193f3;
                box-shadow: 1px 1px #2193f3;;
                border-style: solid;
                border-color: #2193f3;
                color: white;
            }
        }
    }
}


.mainDivNavbar{
    position: sticky;
    top: 0;
    width: 102%;
    height: 102%;
    margin-top: -20px;
    margin-left: -9px;
    display: flex;
    flex-direction: row;
    background-color: #002984;
    height: 40px;
    color: white;
    justify-content: flex-end;
    h2 {
        display:flex;
        margin: auto auto auto 43vw;
        color: white;
    }
    .homeLink{
        border-radius: 5px;
        border: 2px white outset;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background-color:transparent;
        width: 65px;
        color: white;
        text-decoration: none;
    }
    .cartLink{
        border-radius: 5px;
        border: 2px white solid;
        display: flex;
        width: 65px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: white;
        text-decoration: none;
    }
    p{
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        color: white;
        border-radius: 100%;
        width: 22px;
        height: 20px;
        margin-right: -15px;
        margin-top: -0.2px;
        z-index: 1;
    }
}